body {
    font-family: 'Titillium Web', sans-serif;
}

h1 {
    font-size: 70px;
    font-weight: 600;
    line-height: 80px;
    margin-top: 60px;
}

h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#titol {
    color: goldenrod;
    padding-right: 20px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

#presenta > div > div > p {
    font-size: 24px;
}



section {
    padding: 30px 0;
}

.bg-light-grey {
    background-color: gray;
}

.navbar {
    background-color: rgb(74, 97, 74);
    box-shadow: 0 2px 4px 0 rgba(0,0,0, .05);
}

.navbar-toggler { font-size: 50px;}
/* .navbar-toggler:focus {  } */

.navbar-toggler:focus { 
    cursor: pointer; 
    /* Per eliminar la marca de Focus  */
    /* outline: none; */
    box-shadow: none; 
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: goldenrod
}

.logo-brand {
    min-width: 70px;
    max-width: 70px;
}

body > nav > div > a.navbar-brand > img {
    border-radius: 16px;
}

#presenta {
    height: 50%;
    background-image: url('../../assets/img01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
    padding-top: 90px;
    min-height: 700px;
    /* color blanc pel text sobre la imatge */
    color: white;
    /* text-shadow: teal;
    text-shadow:rgb(90, 122, 90); */
    box-shadow: 0px 0px 50px gray;   
}

.shaded-box {
    background-color: rgba(0, 0, 0, 0.3);
    color: whitesmoke;
}

.content-center {
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
}

.portfolio-container {
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 2px;
}

.portfolio-container img {
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

.portfolio-container:hover img {
    -moz-transforms: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.portfolio-details {
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 9000;
}

.portfolio-details a h2, .portfolio-details a p {
    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
}

#portfolio > div > div.text-center.topmargin-sm > p {
    margin-top: 30px;
}


#contact a {
    align-self: center;
    margin-top: 10px;
}

.form-control {
    font-size: 14px;
    border: 1px solid white;
    padding: 15px;
    border-radius: 8px;
}

.form-control:focus {
    border: 1px solid green;
    outline: none;
    box-shadow: none;
}

/* ------------- seccio de Xarxes Socials ------------------------------------- */

.social-icons {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons a {
    margin: 0 30px;
}

.social-icons a i {
    font-size: 2rem;
    color: darkolivegreen;
}

/* ------------ seccio de Peu de pagina --------------------------------------- */

.footer {
    margin-top: 15px;
    margin-bottom: 0px;
    background-color:  darkolivegreen;
    color: white;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}

body > footer > p {
    margin-bottom: 0;
}

/* ------------ botó retorn cap amunt de la pàgina ----------------------------- */

.zona-scroll {
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 0;
}

.scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:20px;
    height:80px;
    background-color: sienna;
    text-indent:-9999px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
}

.scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color: wheat;
}

.scroll:hover {
    background-color: darkolivegreen;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}


/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    h1 { font-size: 80px; line-height: normal; }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { ... }